@import 'vars';
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500&display=swap');

html{
    box-sizing: border-box;
}

*,*::after,*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-width: 320px;
    overflow-x: hidden;
}

.container {
    padding: 0 20px;
    @media (min-width: 640px) {
        padding: 0 30px;
    }

    @media (min-width: 768px) {
        padding: 0 40px;
    }

    @media (min-width: 1024px) {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 40px;
    }

    @media (min-width: 1440px) {
        max-width: 1320px; 
    }
}

.header {
    background-color: $accent;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    @media (min-width: 640px) {
        min-width: 100px;
    }
}

.logo__link {
    margin-left: 8px;
    @media (min-width: 640px) {
        margin-left: 14px;
    }
    @media (min-width: 768px) {
        margin: 0;
    }
}

.menu__button {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background-color: $white;
    border: 1px solid $white;
    position: relative;
    &::after {
        content: "";
        width: 12px;
        height: 2px;
        border-radius: 1px;
        background-color: $accent;
        position: absolute;
        top: 15px;
        left: 14px;
        box-shadow: 0 4px 0 0 $accent, 0 8px 0 0 $accent;
    }
    @media (min-width: 1440px) {
        margin-right: 90px;
    }
}

.head {
    background-image: url(../ui/Earth.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 193px;
    @media (min-width: 640px) {
        min-height: 386px;
        background-position: center center;
    }
}

.top-slider {
    background: rgba(33, 33, 33, 0.5);
}

.top-slider__item {
    min-height: 193px;
    text-align: center;
    @media (min-width: 640px) {
        min-height: 386px;
    }
    @media (min-width: 768px) {
        min-height: 465px;
    }
    @media (min-width: 1024px) {
        min-height: 618px;
    }
    @media (min-width: 1440px) {
        min-width: 668px;
    }
}

.top-slider__title {
    position: relative;
    margin: 0 auto;
    padding: 36px 0 28px;
    max-width: 243px;
    @extend %roboto-condenced-400;
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;
    color: $white;
    &::after {
        content: "";
        position: absolute;
        height: 8px;
        width: 61px;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $textMain;
    }
    @media (min-width: 640px) {
        padding: 50px 0 15px;
        margin: 0 auto 30px;
        max-width: 520px;
        font-size: 60px;
        line-height: 60px;
    }
    @media (min-width: 768px) {
        padding: 87px 0 0;
        margin: 0 auto;
        &::after {
            display: none;
        }
    }
    @media (min-width: 1024px) {
        max-width: 750px;
        padding-top: 101px;
        font-size: 84px;
        line-height: 84px;
        letter-spacing: 2px;
        
    }
    @media (min-width: 1440px) {
        max-width: 860px;
        padding-top: 107px;
        font-size: 96px;
        line-height: 96px;
    }
}

.top-slider__text {
    display: none;
    @media (min-width: 768px) {
        display: block;
        padding: 25px 0 32px;
        margin: 0 auto;
        max-width: 587px;
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        color: $white;
    }
    @media (min-width: 1440px) {
        min-width: 890px;
        font-size: 24px;
        line-height: 26px;
    }
}

.top-slider__button {
    display: none;
    @extend %roboto-500;
    @media(min-width: 640px) {
        display: block;
        margin: 0 auto 113px;
        padding: 16px 45px;
        border: 1px solid $accent;
        border-radius: 3px;
        font-size: 18px;
        line-height: 18px;
        background-color: $accent;
        color: $buttonColor;
    }
}

.slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    .slick-active{
        button{
            background-color: transparent;
            border: 1px solid #476e4d;
        }
    }
    button {
        padding: 0;
        margin: 0 10px;
        width: 10px;
        height: 10px;
        font-size: 0;
        background-color: $accent;
        border-radius: 50%;
        border: 1px solid $accent;
    }
    @media(min-width: 640px) {
        bottom: 50px;
    }
    @media (min-width: 1024px) {
        bottom: 80px;
    }
}

.slick-arrow {
    position: absolute;
    width: 56px;
    height: 56px;
    border: none;
    right: 0;
    z-index: 5;
    cursor: pointer;
    @media(min-width: 1440px) {
        width: 70px;
        height: 70px;
    }
}

.slick-prev {
    background-color: $accent;
    top: calc(50% - 56px);
    @media(min-width: 1440px) {
        top: calc(50% - 70px)
    }
}

.slick-next {
    background-color: $buttonColor;
    bottom: calc(50% - 56px);
    @media(min-width: 1440px) {
        bottom: calc(50% - 70px)
    }
}

.call {
    background-color: $accent;
    padding: 40px 0;
    color: $white;
    text-align: center;
    @media (min-width: 768px) {
        padding: 40px 44px;
    }
    @media (min-width: 1440px) {
        padding: 57px 150px;
    }
}

.call__inner {
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.call__content {
    margin: 0 auto;
    max-width: 280px;
    @media (min-width: 640px) {
        max-width: 580px;
    }
    @media (min-width: 768px) {
        margin: 0;
        max-width: 425px;
        text-align: left;
    }
}

.call__title {
    @extend %roboto-500;
    font-size: 24px;
    line-height: 24px;
    margin: 0 auto 15px;
    @media (min-width: 768px) {
        margin: 0 0 10px;
    }
    @media (min-width: 1024px) {
        line-height: 32px;
    }
}

.call__text {
    @extend %dosis-300;
    font-size: 16px;
    line-height: 18px;
    margin: 0 auto 40px;
    @media (min-width: 768px) {
        margin: 0;
    }
}

.call__button {
    padding: 16px 15px;
    background-color: $white;
    color: $accent;
    @extend %roboto-500;
    font-size: 18px;
    line-height: 18px;
    border: 1px solid $white;
    border-radius: 3px;
    text-transform: uppercase;
}

.services {
    padding: 25px 0 40px;
    text-align: center;
}

.services-top {
    max-width: 280px;
    margin: 0 auto 40px;
}

.title {
    @extend %roboto-condenced-400;
    font-size: 24px;
    line-height: 28px;
    position: relative;
    padding-bottom: 28px;
    color: $accent;
    &::after {
        content: "";
        position: absolute;
        width: 100px;
        height: 8px;
        background-color: $accent;
        bottom: 0;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
}

.services-top__title {
    margin-bottom: 47px;
}

.services-top__description {
    @extend %roboto-400;
    font-size: 20px;
    line-height: 24px;
    color: $textMain;
    margin-bottom: 20px;
}

.services-top__text {
    @extend %roboto-400;
    font-size: 15px;
    line-height: 17px;
    color: $textLightGrey;
}

.services-items__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 310px;
    border: 1px solid $buttonColor;
    border-bottom: none; 
    &:last-child{
        border-bottom: 1px solid $buttonColor;
    }
    &:hover{
        .services-items__text,
        .services-items__link {
            display: block;
        }
        .services-items__title {
            margin-bottom: 30px;
        }
    }
}

.services-items__img {
    margin-bottom: 30px;
}

.services-items__title {
    @extend %roboto-condenced-700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: $textMain;
}

.services-items__text {
    display: none;
    @extend %dosis-400;
    font-size: 16px;
    line-height: 18px;
    color:$textGrey;
}

.services-items__link {
    display: none;
    @extend %roboto-condenced-700;
    font-size: 16px;
    line-height: 19px;
    color: $accent;
}